
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  background-color: #e5e5e5;
  font-weight: normal;
}

.grid-container {
  max-width: 375px;
  display: grid;
  grid-column-gap: 11px;
  margin: 10px;
  grid-template-columns: repeat(1, 1fr);
}

.header-section {
  grid-column: 1/-1;
  background-color: white;
}

.work-section {
  grid-column: 1/-1;
  background: #f7f7f9;
}

.aboutmyself-section {
  grid-column: 1/-1;
  background: #f7f7f9;
}

.introduction-section {
  background-color: white;
  grid-column: 1/-1;
  background-image: url('images/introductionbg.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

#header-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: hidden;
  align-items: center;
  margin: 8px;
  margin-right: 30px;
  margin-left: 20px;
}

#header-nav span a {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  padding: 10px;
}

.nav-ul-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#header-nav .nav-link {
  margin-left: 15px;
  padding: 10px;
  color: #344563;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.introduction-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 8px;
  margin-right: 30px;
  margin-left: 20px;
}

.intro-name {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.intro-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.view-social-midea {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.view-social-midea .social-icon {
  margin: 8px;
  height: 20px;
  width: 20px;
}

.intro-connect {
  color: #7f8cff;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.work-container {
  display: grid;
  grid-column-gap: 11px;
  grid-template-columns: repeat(1, 1fr);
  margin-right: 20px;
  margin-left: 20px;
}

.work-content {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 100px;
  padding: 20px;
}

.img-content {
  width: 100%;
}

.work-role {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.my-skill li {
  float: left;
  margin: 6px;
}

.work-role-list {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin: 6px;
}

.work-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.role-job {
  width: 55px;
  height: 16px;
  color: #344563;
}

.role-dot {
  width: 10px;
  height: 10px;
  background: #c1c7d0;
  border-radius: 50%;
}

.role-name {
  width: 88px;
  color: #7a869a;
}

.role-year {
  width: 29px;
  height: 16px;
  color: #7a869a;
}

.project-description {
  height: 76px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding-right: 70px;
}

.my-skill button {
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
  text-align: center;
  padding: 4px 12px;
  background: #ebebff;
  border: none;
  border-radius: 8px;
}

.p-more-information {
  background-color: #fff;
  border: 1px solid #396df2;
  margin: 4px;
  padding: 10px;
  border-radius: 10px;
}

.moresee-link {
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  color: #396df2;
}

.prog-lang {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-right: 30px;
}

.header-lang {
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  margin-right: 10px;
}

.bn-img-down {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.lang-content {
  width: 100%;
  background-color: #f7f7f9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lang-link {
  font-weight: 500;
  font-size: 15px;
  color: #253858;
  vertical-align: middle;
}

.lang-link-img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  margin-left: 4px;
  vertical-align: middle;
}

.job-experience {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #253858;
}

.job-experience-content {
  font-weight: 500px;
  font-size: 20px;
}

.btn-action-event:hover {
  text-decoration: none;
}

.p-more-information:hover {
  border: 2px solid #396df2;
  color: #253858;
  background-color: blue;
}

.lang-content:hover {
  border: 2px solid #396df2;
  columns: #253858;
}

.social-icon:hover {
  border: 1px solid #253858;
}

#aboutmyself-container {
  background-image: url('images/aboutmyself.png');
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  padding-top: 80px;
  border-top-right-radius: 50px;
}

.about-me {
  display: flex;
  background-image: url('images/contact-bg.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 100px;
}
.mycontact-input {
  background-color: #fff;
}


.aboutmyself-text {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 87%;
  font-style: bold;
  color: #fff;
  padding-top: 100px;
  margin-left: 30px;
  padding-left: 50px;
}

.aboutmyself-desc {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  color: #ebebff;
  line-height: 28px;
  margin: 2px;
  padding-bottom: 20px;
}

.contact-form {
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.name-input, .email-input{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-right: 85px;
  padding-left: 20px;
}
.name-input:hover {
  transform: scale(1.2);
} 
.email-input:hover{
transform: scale(1.2);
}
.aboutmyself-getintouch:hover{
transform: scale(1.1);
}
/* .email-input {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-right: 85px;
  padding-left: 20px;
} */
.message-input {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
} 
.message-input:hover {
  transform: scale(1.2);
} 


.aboutmyself-getintouch {
  margin-top: 20px;
  text-align: left;
  padding: 10px;
  font-weight: 500;
  font-size: 17px;
  color: #6070ff;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 20px;
  margin-left: 70px;
  border-style: none;
}

.btn-link:hover {
  text-decoration: none;
  background-color: blue;
}

.footer {
  background-color: grey;
  width: 100%;
}

